src/main/resources/stb23.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="stb" type="stbType"/>
    
    <xsd:complexType name="stbType">
        <xsd:sequence>
            <xsd:element name="date" type="xsd:dateTime"/>
            <xsd:element name="description" type="xsd:string"/>
            <xsd:element name="id" type="xsd:int"/>
            <xsd:element name="nomEntite" type="xsd:string"/>
            <xsd:element name="titre" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
